<% content_for :title, "Editing book" %>

<h1>Editing book</h1>

<%= render "form", book: book, form_submit: form_submit, form_path: form_path, form_method: form_method %>

<br>

<div>
  <%= link_to "Show this book", routes.path(:book, id: book.id) %> |
  <%= link_to "Back to books", routes.path(:books) %>
</div>
